<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".all.ilovexs.UrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="www.ilovexs.com" />
                <data android:host="ilovexs.com" />
                <data android:pathPattern="/post_id/.*" />
                <data android:pathPattern="/category/.*" />
                <data android:pathPattern="/tag/.*" />
                <data android:pathPattern="/search/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>